.footer{
    
    &__top{
        display: flex;
        flex-direction: column;
        position: relative;

        overflow: hidden;

        padding: 3.5rem 3rem;
        background: $bright-red;

        @include responsive__mode(tablet-portrait){
            display: flex;
            flex-direction: row;
            position: relative;

            padding: 3.5rem 3rem;
        }

        @include responsive__mode(tablet-landscape){
            padding: 3.5rem 3.5rem;
        }

        @include responsive__mode(desktop){
            padding: 3.5rem 5rem;
        }

        @include responsive__mode(desktop-large){
            padding: 3.5rem 7rem;
        }

        &--heading{
            color: $very-light-gray;
            font-size: 2.1rem;
            margin-right: 0;
            margin-bottom: 1.5rem;
            text-align: center;

            & span{
                display: block;
            }

            @include responsive__mode(tablet-portrait){
                font-size: 1.6rem;
                margin-right: auto;
                margin-bottom: 0;
                text-align: left;
            }

            @include responsive__mode(tablet-landscape){
                font-size: 2.2rem;
            }
        }

        &--btn{
            align-self: center;
            background: $very-light-gray;
            border-radius: 50px;
            border: none;
            outline: none;
            padding: 0.5rem 1.2rem;
            color: $bright-red;
            font-size: 0.8rem;

            transition: all 0.3s;
            
            &:hover,
            &:active,
            &:link{
                cursor: pointer;
                color: hsl(13, 54%, 71%);
            }
        }

        &::after{
            content: '';
            background: $very-pale-red;
            width: 30%;
            height: 80%;
            border-radius: 100px;
            opacity: 0.1;
            transform: rotate(45deg) scale(1.5);
            position: absolute;
            top: 30%;
            right: 98%;

            z-index: 1;

            @include responsive__mode(tablet-portrait){
                content: '';
                background: $very-pale-red;
                width: 30%;
                height: 60%;
                border-radius: 100px;
                opacity: 0.1;
                transform: rotate(135deg) scale(2.0);
                position: absolute;
                top: 80%;
                right: 63%;

                z-index: 1;
            }
        }

        &::before{
            display: none;

            @include responsive__mode(tablet-portrait){
                content: '';
                background: $very-pale-red;
                width: 55%;
                height: 60%;
                border-radius: 100px;
                opacity: 0.1;
                transform: rotate(90deg) scale(1.8);
                position: absolute;
                bottom: 350%;
                left: 69%;

                display: block;

                z-index: 1;
            }
        }
    }

    &__bottom{
        padding: 3.5rem 2rem 2.5rem 2rem;
        background: $very-dark-blue;

        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        flex-basis: 100%;

        @include responsive__mode(tablet-portrait){
            padding: 3.5rem 3rem 0 3rem;
            background: $very-dark-blue;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-basis: 100%;

            &--items{
                margin-right: auto;
                flex-basis: 40%;
            }

        }

        @include responsive__mode(tablet-landscape){
            padding: 3.5rem 3.5rem 0 3.5rem;
            &--items{
                flex-basis: 23%;
            }

        }

        @include responsive__mode(desktop){
            padding: 3.5rem 5rem 0 5rem;

            &--items{
                flex-basis: 23%;
            }

        }

        @include responsive__mode(desktop-large){
            padding: 3.5rem 7rem 0 7rem;

            &--items{
                flex-basis: 23%;
            }

        }

        &--links{
            display: flex;
            flex-basis: 46%;
            order: 2;
            justify-content: center;
            margin-bottom: 2rem;

            @include responsive__mode(tablet-portrait){
                order: 0;
                margin-bottom: 0;

                & ul:not(:last-child){
                    margin-right: auto;
                }
            }

            @include responsive__mode(tablet-landscape){
                order: 0;
                margin-bottom: 0;

                & ul{
                    margin-right: auto;
                }
            }
        }
    }

    &__items{
        margin: 0;
        padding: 0;
        list-style: none;

        &--1{
            margin-right: 5rem;
        }

        @include responsive__mode(tablet-portrait){
            &--1{
                margin-right: 0;
            }
        }
    }

    &__item{
        margin: 0 0 1.2rem 0;

        & a{
            text-decoration: none;
            color: $very-light-gray;
            transition: ease-in-out 0.3s;

            &:hover{
                color: $bright-red;
            }
        }

    }

    &__form{
        margin: 0 auto 2.5rem auto;
        order: 3;

        &--error{
            font-size: 0.8rem;
            font-style: italic;
            color: $bright-red;

            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
        }

        &--group{
            display: inline-block;
            vertical-align: top;
            
            &:not(:last-child){
                width: 75%;
            }

            & input[type="email"]{
                width: 100%;
            }

            @include responsive__mode(tablet-portrait){
                &:not(:last-child){
                    width: 95%;
                    margin-right: 1rem;
                }
            }

            @include responsive__mode(desktop){
                &:not(:last-child){
                    width: 75%;
                    margin-right: 3.5rem;
                }
            }
        }

        @include responsive__mode(tablet-portrait){
            margin: 1.5rem 0 0 0;

            order: 0;
            display: flex;
            flex-basis: 75%;
            justify-content: flex-start;


            &--group{
                margin-right: 0;
            }
        }

        @include responsive__mode(tablet-landscape){
            margin: 0;
            flex-basis: 30%;
            justify-content: space-between;
        }

        &--field{
            padding: 0.6rem 1.2rem;
            border: none;
            outline: none;
            border-radius: 100px;
            margin-right: 0.4rem;
            width: 75%;

            &::placeholder{
                color: $dark-grayish-blue;
            }

            @include responsive__mode(tablet-portrait){
                width: 100%;
            }
        }

        &--submit{
            background: $bright-red;
            color: $very-light-gray;
            padding: 0.6rem 1.2rem;
            border: none;
            outline: none;
            border-radius: 100px;
            transition: all 0.3s;
            
            &:link,
            &:hover,
            &:active{
                cursor: pointer;
                background: hsl(13, 54%, 71%);
            }
        }
    }

    &__brand{
        order: 0;
        margin: 0 auto 2.5rem auto;

        @include responsive__mode(tablet-portrait){
            margin: 0 auto 0 0;
        }

        @include responsive__mode(tablet-landscape){
            margin: 0 auto 0 0;
        }

        @include responsive__mode(desktop){
            margin: 0;
        }
    }
}

.social{

    &__content{
        margin-right: 0;
        order: 1;
        text-align: center;

        @include responsive__mode(tablet-portrait){
            margin-top: 2.5rem;
            margin-right: auto;
            order: 0;
        }

        @include responsive__mode(tablet-landscape){
            margin-right: auto;
            order: 0;
        }
    }
    
    &__icons{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 0.7rem;
        margin-bottom: 2.5rem;

        fill: $very-light-gray;
        transition: ease-in-out 0.3s;

        &:hover{
            fill: $bright-red;
        }

        @include responsive__mode(tablet-portrait){
            width: 1.35rem;
            height: 1.35rem;
        }
    }

    &__link{
        text-decoration: none;

        &:not(:last-child){
            margin-right: 0.6rem;
        }
    }
}

.copyright{
    align-self: center;
    color: $dark-grayish-blue;

    order: -1;
    
    @include responsive__mode(tablet-portrait){
        align-self: flex-start;
        order: 0;

        flex-basis: 40%;
        margin-right: 0;
        margin-top: 2.5rem;
    }

    @include responsive__mode(tablet-landscape){
        align-self: flex-start;

        flex-basis: 35%;
        margin-right: 0;
    }

    @include responsive__mode(desktop){
        align-self: flex-start;

        flex-basis: 23%;
        margin-right: 5rem;
    }
}

.is-invalid{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.is-invalidTwo{
    border: 1px solid $bright-red;
    color: $bright-red;
}