.testimonial{
    padding: 0 0 5rem 0;
    position: relative;
    margin-top: 3rem;

    &__heading{
        text-align: center;
        font-size: 2.2rem;
    }

    &__contents{
        display: block;
        margin-top: 3rem;
        margin-bottom: 2rem;
        padding: 1rem;

        @include responsive__mode(tablet-portrait){
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-basis: 100%;
            margin-top: 5rem;
            margin-bottom: 0;

            padding: 0;
        }

        @include responsive__mode(tablet-landscape){
            margin-top: 6rem;
            margin-bottom: 4rem;
        }
    }

    &__content{
        width: 100%;
        padding: 3.8rem 1.5rem 1.8rem 1.5rem;
        background: $very-light-gray;
        text-align: center;

        position: relative;
        margin-bottom: 1rem;

        &--text{
            color: $dark-grayish-blue;
            line-height: 1.3rem;
        }

        &--heading{
            color: $dark-blue;
            margin-bottom: 1.5rem;
        }

        &--image{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -180%);
            width: 80px;

            @include responsive__mode(tablet-portrait){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -183%);
                width: 80px;
            }

            @include responsive__mode(tablet-landscape){
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -190%);
                width: 80px;
            }
        }

        &--img{
            width: 100%;
        }

        @include responsive__mode(tablet-portrait){
            position: relative;
            flex-basis: 40%;
            padding: 3.8rem 1rem 0.8rem 1rem;
            text-align: center;
            margin-bottom: 5rem;

            &:nth-of-type(odd){
                margin-right: 1.5rem;
            }
        }

        @include responsive__mode(tablet-landscape){
            flex-basis: 40%;
            padding: 3.8rem 1rem 1.8rem 1rem;
            margin-bottom: 5rem;

            &:nth-of-type(odd){
                margin-right: 1.5rem;
            }
        }

        @include responsive__mode(desktop){
            flex-basis: 22%;
            padding: 3.8rem 1rem 0.8rem 1rem;
            margin-bottom: 0;

            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }
    }

    &__btn{
        text-align: center;
        display: block;
        margin: 0 auto;

        background: $bright-red;
        padding: 0.5rem 1.2rem;
        border: none;
        outline: none;
        border-radius: 50px;
        color: $very-light-gray;
        cursor: pointer;

        box-shadow: 0 4px 6px 1px hsla(12, 88%, 59%, 0.5);
        transition: all 0.3s;
    }

    &::after{       
        display: none;

        @include responsive__mode(tablet-portrait){
            content: '';
            background: $very-pale-red;
            width: 30%;
            height: 75%;
            position: absolute;
            bottom: 20%;
            right: 105%;
            border-radius: 100px;
            transform: rotate(45deg) scale(1.5);
            display: block;

            z-index: -1;
        }

        @include responsive__mode(tablet-landscape){
            content: '';
            width: 50%;
            height: 35%;
            position: absolute;
            bottom: 45%;
            right: 90%;
            border-radius: 100px;
            transform: rotate(135deg) scale(1.8);
            display: block;

            z-index: -1;
        }
    }
}

.dots{
    text-align: center;

    &__span{
        width: 15px;
        height: 15px;
        border: 1px solid $bright-red;
        border-radius: 50%;

        display:  inline-block;
        vertical-align: middle;
    }

    @include responsive__mode(tablet-portrait){
        display: none;
    }
}

.active{
    background: $bright-red;
}

.test{
    display: none;
}